some content
<button id="new">new game</button>
<div id="minefield">
{{#collection squares tag='ul'}}
  <li class="square
    {{#pressed}}
    {{#mineActive}}pressed-mine{{/mineActive}}
    pressed
    {{/pressed}}">
    <p {{#hasMine}} class="mine" {{/hasMine}}></p>
  </li>
{{else}}
  No squares
{{/collection}}
</div>
